html {
   background-color: #fdf9f9
   display: flex;
   flex-wrap: wrap;
}

body {
  font-family: HelveticaLight;
  text-align: center;
  padding: 50px;
}

h1 {
color: darkolivegreen;
}

h3 {
   li {
      display: inline;
   }
}
