html {
   background-color: #fdf9f9
   border: 5px solid #48240a;
   padding: 30px;
   margin: 2rem;
}

body {
  font-family: HelveticaLight;
  text-align: left;
}

h1 {
color: darkolivegreen;
}

h3 {
   li {
      display: inline;
   }
}
