html {
   background-color: #fdf9f9;
   border: 5px solid #48240a;
   padding: 30px;
   margin: 5rem;
}

body {
  font-family: Calibri;
  text-align: left;
}

h1 {
color: darkolivegreen;
}

h3 {
   color: #6b8e23;
   li {
      display: inline;
   }
}
